anaconda-navigator
anyio
appdirs
argh
atomicwrites
backports.weakref
bkcharts
black
boto
brotlipy
certifi
click
clyent
conda
conda-build
conda-verify
cycler
cytoolz
daal4py
dask
entrypoints
et-xmlfile
fastapi
fonttools
gmpy2
inflection
llvmlite
locket
mccabe
mkl-fft
mkl-service
mpmath
munkres
mypy-extensions
navigator-updater
nltk
pandas
pathspec
patsy
pep8
Pillow
pkginfo
ply
pycosat
pycurl
pydantic
pyls-spyder
pyodbc
pytest
python-lsp-jsonrpc
python-lsp-server
pytz
PyYAML
scikit-image
scikit-learn-intelex
simplegeneric
sip
Sphinx
starlette
TBB
terminado
unicodecsv
urllib3
webencodings
xlwings
xlwt
zict
zope.event
